In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import Spotify csv
zipped_spotify_data = pd.read_csv('Data/Spotify.zip')
old_spotify_df = pd.DataFrame(zipped_spotify_data)
old_spotify_df.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

In [3]:
# Import Spotify csv -- for individual file
# spotify_data = pd.read_csv('Data/tracks_features.csv')
# old_spotify_df = pd.DataFrame(spotify_data)
# old_spotify_df.head()

In [4]:
# Double check that all of the data was imported (all 1.2 million unique values)
len(old_spotify_df)

1204025

In [5]:
# Remove [] from artists list
old_spotify_df['artists'] = old_spotify_df['artists'].astype(str)

In [6]:
# Clean up data from csv
# Valence is how positive a song sounds -- 1 = extremely positive, 0 = extremely negative

In [7]:
# Columns to drop: id, album_id, artist_ids, track_number, disk_number, speechiness, 
# acousticness, instrumentalness, liveness, time signature
# Columns to keep: 'name', 'album', 'artists', 'explicit', 'valence', 'tempo', 'duration_ms', 'year', 'release_date'
spotify_cols = ['name', 'album', 'artists', 'explicit', 'valence', 'tempo', 'duration_ms', 'year', 'release_date']
spotify_df = old_spotify_df[spotify_cols].copy()
spotify_df.head()

,name,album,artists,explicit,valence,tempo,duration_ms,year,release_date
0,Testify,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.503,117.906,210133,1999,1999-11-02
1,Guerrilla Radio,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.489,103.680,206200,1999,1999-11-02
2,Calm Like a Bomb,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.370,149.749,298893,1999,1999-11-02
3,Mic Check,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.574,96.752,213640,1999,1999-11-02
4,Sleep Now In the Fire,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.539,127.059,205600,1999,1999-11-02

In [8]:
# Convert duration_ms to duration_sec
spotify_df['duration_sec'] = spotify_df['duration_ms']/1000
spotify_df.head()

,name,album,artists,explicit,valence,tempo,duration_ms,year,release_date,duration_sec
0,Testify,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.503,117.906,210133,1999,1999-11-02,210.133
1,Guerrilla Radio,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.489,103.680,206200,1999,1999-11-02,206.200
2,Calm Like a Bomb,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.370,149.749,298893,1999,1999-11-02,298.893
3,Mic Check,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.574,96.752,213640,1999,1999-11-02,213.640
4,Sleep Now In the Fire,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.539,127.059,205600,1999,1999-11-02,205.600

In [9]:
# Convert duration_ms to duration_sec
spotify_df['duration_min'] = spotify_df['duration_sec']/60
spotify_df.head()

,name,album,artists,explicit,valence,tempo,duration_ms,year,release_date,duration_sec,duration_min
0,Testify,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.503,117.906,210133,1999,1999-11-02,210.133,3.502217
1,Guerrilla Radio,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.489,103.680,206200,1999,1999-11-02,206.200,3.436667
2,Calm Like a Bomb,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.370,149.749,298893,1999,1999-11-02,298.893,4.981550
3,Mic Check,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.574,96.752,213640,1999,1999-11-02,213.640,3.560667
4,Sleep Now In the Fire,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.539,127.059,205600,1999,1999-11-02,205.600,3.426667

In [10]:
# Drop duration_ms
spotify_df = spotify_df.drop(['duration_ms'], axis=1)

In [11]:
spotify_df.head()

,name,album,artists,explicit,valence,tempo,year,release_date,duration_sec,duration_min
0,Testify,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.503,117.906,1999,1999-11-02,210.133,3.502217
1,Guerrilla Radio,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.489,103.680,1999,1999-11-02,206.200,3.436667
2,Calm Like a Bomb,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.370,149.749,1999,1999-11-02,298.893,4.981550
3,Mic Check,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.574,96.752,1999,1999-11-02,213.640,3.560667
4,Sleep Now In the Fire,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.539,127.059,1999,1999-11-02,205.600,3.426667

In [12]:
# Set name as index
# new_spotify = spotify_df.set_index('name')
# new_spotify.head()

# Get rid of extra brackets in artists
# spotify_df["artists_new"] = [x.replace("', '", "|").replace("'", "").replace("[", "").replace("]", "") for x in spotify_df["artists"]]
# spotify_df.head()

In [13]:
# Get rid of extra brackets and quotes in artists
spotify_df["new_artists"] = [x.replace("', '", ", ").replace("'", "").replace("[", "").replace("]", "") for x in spotify_df["artists"]]
spotify_df.head()

,name,album,artists,explicit,valence,tempo,year,release_date,duration_sec,duration_min,new_artists
0,Testify,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.503,117.906,1999,1999-11-02,210.133,3.502217,Rage Against The Machine
1,Guerrilla Radio,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.489,103.680,1999,1999-11-02,206.200,3.436667,Rage Against The Machine
2,Calm Like a Bomb,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.370,149.749,1999,1999-11-02,298.893,4.981550,Rage Against The Machine
3,Mic Check,The Battle Of Los Angeles,['Rage Against The Machine'],True,0.574,96.752,1999,1999-11-02,213.640,3.560667,Rage Against The Machine
4,Sleep Now In the Fire,The Battle Of Los Angeles,['Rage Against The Machine'],False,0.539,127.059,1999,1999-11-02,205.600,3.426667,Rage Against The Machine

In [14]:
new_spotify = spotify_df.drop(['artists'], axis=1)
new_spotify.head()

,name,album,explicit,valence,tempo,year,release_date,duration_sec,duration_min,new_artists
0,Testify,The Battle Of Los Angeles,False,0.503,117.906,1999,1999-11-02,210.133,3.502217,Rage Against The Machine
1,Guerrilla Radio,The Battle Of Los Angeles,True,0.489,103.680,1999,1999-11-02,206.200,3.436667,Rage Against The Machine
2,Calm Like a Bomb,The Battle Of Los Angeles,False,0.370,149.749,1999,1999-11-02,298.893,4.981550,Rage Against The Machine
3,Mic Check,The Battle Of Los Angeles,True,0.574,96.752,1999,1999-11-02,213.640,3.560667,Rage Against The Machine
4,Sleep Now In the Fire,The Battle Of Los Angeles,False,0.539,127.059,1999,1999-11-02,205.600,3.426667,Rage Against The Machine

In [15]:
# spotify_df2 = spotify_df.copy()
# del spotify_df2(["artists"], ["artists_new_1"])
# spotify_df2.head()

In [16]:
# spotify_df_new = spotify_df2.copy()
# del spotify_df_new["artists_new"]
# spotify_df_new.head()

In [17]:
# # new_spotify.to_csv('Data/Spotify_output.zip')
# artist = ['Rage Against The Machine', "Elizabeth"]
# str(artist)

In [18]:
# artist2 = str(artist).replace("', '", "|").replace("'", "").replace("[", "").replace("]", "")
# artist2

In [19]:
# artist2.split("|")

In [20]:
# File is too large, needs to be zipped
# new_spotify.to_csv('Data/Spotify_output.csv')

In [21]:
# new_spotify.to_csv('Spotify_id_output.zip')

# **Billboard API**

In [22]:
# Set up billboard API- import dependencies
import billboard
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [23]:
# Find charts with year-end data (omit year_end to get all charts)
# billboard.charts(year_end=True)

In [24]:
# Top 100 songs from 2020
chart2020 = billboard.ChartData('hot-100-songs', year=2020, fetch=True)

In [25]:
# Get current top 100
current_100 = billboard.ChartData('hot-100')

In [26]:
# Filter out the data that you want from the billboard API

# Create lists to get column data
name = [] # name is the column name in Spotify, title is used in Billboard
artists = []
cur_rank = [] # current position in the charts
peak_rank = [] # peak rank in the charts
chrt_weeks = [] # number of weeks on the top 100 chart

# Append each list with the current top 100
for songs in current_100:
    song = current_100[0]
    name.append(songs.title)
    artists.append(songs.artist)
    cur_rank.append(songs.rank)
    peak_rank.append(songs.peakPos)
    chrt_weeks.append(songs.weeks)

In [27]:
top_songs = {
    "name": name,
    "artist": artists,
    "current_rank": cur_rank,
    "peak_rank": peak_rank,
    "weeks_on_chart": chrt_weeks
}
top_songs_df = pd.DataFrame(top_songs)

In [28]:
# Current week's hot 100-- weekly chart updates every Tuesday
top_songs_df.head()

,name,artist,current_rank,peak_rank,weeks_on_chart
0,Mood,24kGoldn Featuring iann dior,1,1,21
1,Positions,Ariana Grande,2,1,10
2,Blinding Lights,The Weeknd,3,1,56
3,Holy,Justin Bieber Featuring Chance The Rapper,4,3,15
4,Dynamite,BTS,5,1,19

In [29]:
# new_df = top_songs_df.set_index('name')

In [30]:
# new_df.to_csv('Data/Billboard_output.zip')

In [31]:
# top_songs_df.to_csv('Data/billboard_100.csv')

In [32]:
# top_songs_df.to_csv('Data/Billboard__id_output.zip')

### Connect to local database

In [38]:
# Create engine for spotify data
from sqlalchemy import create_engine

In [40]:
rds_connection_string = "postgres:postgres@localhost:5432/spotify"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [43]:
# Check table names
engine.table_names()

['billboard', 'spotify']

In [ ]:
# Spotify to sql
new_spotify.to_sql(name='spotify', con=engine, if_exists='replace', index=False)

In [ ]:
pd.read_sql_query('SELECT * FROM customer_name', con=engine).head()

In [ ]:
# Billboard to sql
top_songs_df.to_sql(name='billboard', con=engine, if_exists='replace', index=False)

In [ ]:
pd.read_sql_query('SELECT * FROM billboard', con=engine).head()